.tarjeta {
    padding: 20px;
    margin: 20px;
    background-color:$color-primario;
    border: solid ;
    border-color: $color-detalles;
}

.proyectos__presentacion {
    background-color: $color-primario;
}