/* estilo del header */
.header {
    background-color: $color-primario;
    z-index: 1000;
    border-bottom: solid;
    border-color: $color-detalles;


    &__img {
        height: 10vh;
        border-radius: 360px;
    }

    &__link {
        font-style: italic;
        font-size: 0.8rem;
        font-weight: bold;
        color: $color-textos;
    }
}

.pulse:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}