/* reseteo inicial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: $tipografia-principal;
    font-weight: 400;
    color: $color-textos;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main h1 {
    color: $color-textos;
    font-size: 2rem;
    font-family: $tipografia-secundaria;
    font-weight: bold;
}

main {
    background-color: $color-secundario;
}

h2 {
    color: $color-textos;
    font-size: 2rem;
    font-family: $tipografia-secundaria;
    font-weight: bold;
}
